<% content_for :top_menu do -%>
  <%= link_to 'Modifier Projet', edit_project_path(@project), class: 'btn btn-default navbar-btn' %>
  <%= link_to 'Supprimer', @project, class: 'btn btn-default navbar-btn', method: :delete, data: { confirm: 'Etes vous sure?' } %>
<% end -%>

<h2><%= @project.name %></h2>

<div class="row">
  <div class="col-md-6">
    <p><label>Nom: </label> <%= @project.name %></p>
    <p><label>Catégorie: </label> <%= @project.category.name %></p>
    <p><label>Adresse: </label> <%= @project.location_address %></p>
    <p><label>Description: </label> <%= @project.description %></p>
    <p><label>Montant: </label> &euro;<%= @project.amount %></p>
  </div>
  <div class="col-md-6" id="project_map"></div>
</div>


<script type='text/javascript'>
  <%= render partial: 'projects/map', locals: { container: '#project_map', latitude: @project.location.latitude, longitude: @project.location.longitude }, formats: [:js] %>
</script>
